@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 25 10% 11%;
    --foreground: 39 52% 81%;
    --card: 25 10% 15%;
    --card-foreground: 39 52% 81%;
    --popover: 25 10% 15%;
    --popover-foreground: 39 52% 81%;
    --primary: 39 52% 81%;
    --primary-foreground: 25 10% 11%;
    --secondary: 27 33% 25%;
    --secondary-foreground: 39 52% 81%;
    --muted: 27 33% 20%;
    --muted-foreground: 39 52% 70%;
    --accent: 27 33% 50%;
    --accent-foreground: 39 52% 95%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 39 52% 81%;
    --border: 27 33% 30%;
    --input: 27 33% 30%;
    --ring: 39 52% 81%;
    --chart-1: 29 55% 65%;
    --chart-2: 27 33% 50%;
    --chart-3: 39 52% 81%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}
